*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: linear-gradient(180.00deg, rgb(255, 255, 255),rgb(239, 235, 227) 100%);
}
.ancore ul {
 display: flex;
 justify-content: center;
}
.ancore ul li{
    align-items: center;
    padding: 8px;
}
.ancore ul li a{
    color:#111111;
    font-family: Sora;
    font-size: 16px;
    font-weight: 400;

}
.glass{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
.fa-bars{
    display: none;
}
.text-animation {
    font-size: 36px;
    font-weight: bold;
    animation: text-animation 4s ease-in-out infinite;
}
@keyframes text-animation  {
    0% {
        color: red;
    }

    25% {
      
        color: rgb(17, 255, 0);
    }

    50% {
        color: orange;
    }

    100% {
        color: green;
    }
}
.vegetbles{
width: 1031px;

}
.vegetables img{
    width: 50%;
 margin-left: auto;
 margin-right: auto;
    transition: 1s;
    box-shadow: 0 10px 10px;
}
.vegetables img:hover{
    transform: perspective(40px) rotateX(2deg) translate(50px) ;
}
.services{
    display:grid;
    grid-template-columns: repeat(3,1);
}
.service{
    width: 100%;
    border-radius: 16px;
    padding: 12px;
background: rgb(239, 235, 227);

}
.service img{
width: 150px;
height: 150px;
margin-left: auto;
margin-right: auto;
    border: 1px dotted gray;
    border-radius: 100%;

background: rgb(255, 255, 255);
}
.service h1{
    color: rgb(17, 17, 17);
font-family: Sora;
font-size: 24px;
font-weight: 600;
line-height: 30px;

text-align: center;
}
.service p{
    color: rgb(17, 17, 17);
font-family: Sora;
font-size: 16px;
font-weight: 300;
line-height: 25px;
text-align: center;
}
.text-green-700{
    padding: 30px;
}
.card-body{
    background-image: url('image/vegetable-offer.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin: 24px;
    border-radius: 8px;
    padding: 7px;
}

.btn{
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    margin:10px;
    color: black;
    
}
.fa-star{
    color: orange;
}
.flexs{
    display: flex;
    justify-content: space-around;
}

.grids{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.bg-white{
    display: flex;
    padding: 18px;
    gap: 6px;
    margin: 10px;
}

.dawat{
    margin: 10px;
    padding: 12px;
    /* border: 1px dashed gray; */
}
.dawat img{
    border: 1px dashed gray;
}
.btns{
    padding: 12px;
    background-color: #63B76D;
    border-radius: 8px;
    margin:12px;
    color: white;
}
.dawat-img{
    /* width: 370px; */
    margin-top: 16px;
    border: 1px dashed gray;
}
.dawat-img img{
    /* width: 90%;
    height: 300px; */
    margin: 12px;
    border: 1px dashed gray;
}
.dawats-img img{
    width: 90%;
    height: 300px;
    margin: 12px;
    border: 1px dashed gray;
}
.btned{
    padding: 12px;
    background-color: #2A4D97;
    border-radius: 8px;
    margin:12px;
    color: white;
}
.vegetable-busket{
    display: flex;
    justify-content: space-around;
    background-color: #EFEBE3;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.busket{
    margin: 12px;
    padding: 12px;
}
.busket img{
width: 350px;
border: 1px dashed gray;
}
.subbtn{
    background-color: #63B76D;
    padding: 8px;
    border-radius: 8px;
}

@media only screen and (max-width:1250px) {
    .ancore{
        display: block;
    }
    
}

@media only screen and (max-width:600px) {
    .ancore{
        display: block;
    }
}
@media only screen and (max-width:450px) {
    .ancore{
        display:none;
    }
    .glass{
        display: none;
    }
    .fa-bars{
        display: block;
        text-align: center;
        padding-top: 10px;
    }
    .vegetables{
        width: 100%;
    }
    .vegetables img{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
          border: 2px dotted gray;
    }
    .grid{
        display: grid;
      grid-template-columns: repeat(2,1fr);
      margin: 10px;
    }
    .grids{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 12px;
    }
    .flexs{
        display: flex;
      flex-direction: column;
        gap: 12px;
    }
    
}

